:root {
  --color-gray-100: #D9D9D9;
  --color-gray-300: #a1a1a1;
  --color-gray-500: #858585;
  --color-green-light: #88C654;
  --color-green-dark: #69914E;
  --color-black: #050505;
  --color-red: #DF6245;
  --color-blue: #3B5A78;
  --color-yellow: #FCDE1A;
}